<header class="bck_b_light">
    <div class="container">
      <div class="left">
        <div class="logo">WEBSITE</div>
      </div>
      <div class="right">
        <div class="top"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Login</a></div>
        <div class="bottom"><a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Register</a></div>
      </div>
    </div>
  </header>