<header class="bck_b_light">
    <div class="container">
      <div class="left">
        <div class="logo">WEBSITE</div>
      </div>
      <div class="right">
        <div class="top"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Login</a></div>
        <div class="bottom" style="text-align: right;">
          <span ><a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Register</a></span>
          <span ><a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile">Profile</a></span>

        </div>
      </div>
    </div>
  </header>