@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

/*  */

header a:hover,
header a:active,
header a.active {
  color: #e0e0e0;
}

header a {
  color: White;
  text-decoration: none;
}
.bottom span {
  margin-left: 10px;
}
.bck_b_light {
  background: #757575;
}
.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid white;
  top: 0;
}

header .logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 35px;
  padding: 11px 0px;
}

header .container {
  display: flex;
}

header .container .left {
  width: 370px;
}

header .container .right {
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
header .container .right .top,
header .container .right .bottom {
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 10px;
}
.top a {
  cursor: pointer;
}
header .container .right .top {
  color: #bdbdbd;
  border-bottom: 1px solid #ffffff;
}

header .cart_link {
  display: inline-block;
  position: relative;
}

header .cart_link span {
  position: absolute;
  background: red;
  top: 2px;
  color: #ffff;
  left: -8px;
  border-radius: 50%;
  padding: 0px 7px 2px 7px;
  font-size: 12px;
}
header .log_out_link {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}
